<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.sapienza.robothotel">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="com.softbank.hardware.pepper" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyTheme"
        android:name=".RobotHotelApplication"
        tools:ignore="AllowBackup">
        <activity android:name=".ui.map.MapActivity"
            android:label="@string/map"/>
        <activity android:name=".ui.checkin.CheckinActivity"
            android:label="@string/checkin"/>
        <activity android:name=".ui.idle.IdleActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.action.ActionActivity"
            android:label="@string/select_action" />
        <activity
            android:name=".ui.welcome.WelcomeActivity"
            android:label="@string/welcome_short"/>
        <activity android:name=".ui.book.BookActivity"
            android:label="@string/book"/>
    </application>

</manifest>